C:\Users\jvinc\Desktop\Repo\CESI-EAT\TestCode\defaultvuejs\node_modules
C:\Users\jvinc\Desktop\Repo\CESI-EAT\TestCode\mon-projet\node_modules
C:\Users\jvinc\Desktop\Repo\CESI-EAT\TestCode\myapp\node_modules
C:\Users\jvinc\Desktop\Repo\CESI-EAT\TestCode\node_modules